tensorflow>=2.9.3
nltk>=3.7
bs4>=0.0.1
scikit-learn
Pillow>=9.4.0
selenium>=4.8.0
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
pandas
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy