tensorflow
nltk
bs4
scikit-learn
pillow
selenium
webdriver_manager
pandas
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
